<%- include('header'); -%>

<h1>check</h1>


<h2>Registration page</h2>
<form action="/Register" method="post">
<div>
    <label for="email" >Email: </label>
    <input type="email" name="username" value="">
</div>
<div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="">
</div>
<div>
    <button type="submit" name="submit">Register</button>
</div>

</form>

<div>
    <a href="/auth/google" role="button">singup with google</a>
</div>










<%- include('footer'); -%>